@model UpdateBookNovelDto
@{
    ViewData["Title"] = "UpdateBookNovel";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>ISBN No</label>
    <input type="text" asp-for="ISBN" class="form-control" />
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Yazar</label>
    <input type="text" asp-for="Author" class="form-control" />
    <br />
    <label>Yayın Tarihi</label>
    <input type="date" asp-for="PublicationYear" class="form-control" />
    <br />
    <label>Durum</label>
    <select asp-for="Status" class="form-control">
        <option value="0">Mevcut</option>
        <option value="1">Ödünç Alındı</option>
        <option value="2">Mevcut Değil</option>
    </select>
    <br />
   
    <label>Sayfa Sayısı</label>
    <input type="text" asp-for="NumberOfPages" class="form-control" />
    <br /> 
    <label>Tür</label>
    <input type="text" asp-for="Genre" class="form-control" />
    <br />

    <button class="btn mb-1 btn-rounded btn-outline-warning">Güncelle </button>
</form>


