<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/BookHistory/Index" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Hikaye Kitapları</span>

                </a>
            </li>
            <li>
                <a href="/BookScience/Index" aria-expanded="false">
                    <i class="icon-magic-wand menu-icon"></i><span class="nav-text">Bilim Kitapları</span>

                </a>
            </li>
            <li>
                <a href="/BookNovel/Index" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Romanlar</span>

                </a>
            </li>
       

        </ul>
    </div>
</div>
