@model CreateBookHistoryDto
@{
    ViewData["Title"] = "AddBookHistory";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>ISBN No</label>
    <input type="text" asp-for="ISBN" class="form-control" />
    <br />
    <label>Kitap Adı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Yazar</label>
    <input type="text" asp-for="Author" class="form-control" />
    <br />
    <label>Durum</label>
    <select asp-for="Status" class="form-control">
        <option value="">Seç</option>
        <option value="Available">Available</option>
        <option value="Reserved">Reserved</option>
        <option value="Borrowed">Borrowed</option>
    </select>
    <br />
    <label>Yayın Tarihi</label>
    <input type="date" asp-for="PublicationYear" class="form-control" />
    <br />
    <label>Dönem</label>
    <input type="text" asp-for="HistoricalPeriod" class="form-control" />
    <br />
   
   
    <button class="btn mb-1 btn-rounded btn-outline-warning">Kitap Ekle </button>
</form>

