@model CreateBookScienceDto
@{
    ViewData["Title"] = "AddBookScience";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>ISBN No</label>
    <input type="text" asp-for="ISBN" class="form-control" />
    <br />
    <label>Kitap Adı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Yazar</label>
    <input type="text" asp-for="Author" class="form-control" />
    <br />
    <label>Durum</label>
    <select asp-for="Status" class="form-control">
        <option value="0">Mevcut</option>
        <option value="1">Ödünç Alındı</option>
        <option value="2">Mevcut Değil</option>
    </select>
    <br />
    <label>Yayın Yılı</label>
    <input type="number" asp-for="PublicationYear" class="form-control" min="1900" max="2100" step="1" />
    <br />
    <label>Alan</label>
    <input type="text" asp-for="Field" class="form-control" />
    <br />
  


    <button class="btn mb-1 btn-rounded btn-outline-warning">Yeni Kitap Ekle </button>
</form>

